*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    animation: colorChanger 1000ms ease-in-out infinite alternate;
}
.form-container {
    width: 90vw;
    border: 2px solid #09273b;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container > div input[type="number"] {
    padding: 10px;
}

.btn {
    border: none;
    padding: 10px 5px;
    background-color: #09273b;
    border-radius: 10px;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: #1c699c;
}

@media (max-width: 850px) {
    .btn {
        display: block;
        margin: 2rem auto;
    }
}

@media (max-width: 766px) {
    .form-container > div input[type="number"] {
        display: block;
        margin: 1rem 0;
    }
}

@keyframes colorChanger {
    0% {
        color: #962323;
    }
    30% {
        color: #47c947;
    }
    50% {
        color: #171747;
    }
    70% {
        color: #2eb375;
    }
    85% {
        color: #184074;
    }
    100% {
        color: #db6f61;
    }
}